
<div>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="www/lib/codemirror/lib/codemirror.css" charset="utf-8">
    <link rel="stylesheet" href="www/lib/codemirror/theme/tomorrow-night.css" charset="utf-8">
    <link rel="stylesheet" href="www/css/main.css?cachebust=1" charset="utf-8">
  </head>
  <body>
    <span id="error-message" style="display:none;"></span>
    <input id="lighttheme-toggle" type="checkbox"/>
      <div class="ad-container">
        <!-- BEGIN COPY CODEFUND EMBED -->
        <div id="codefund"></div>
        <script
          src="js/funder.js"
          async
        ></script>
        <!-- END COPY CODEFUND EMBED -->
      </div>
    </div>
    <div class="diff-inputs">
      <div id="left-input" class="json-diff-input split">
        <textarea id="json-diff-left"></textarea>
        <span class="input-buttons">
          <a class="input-collapse" href="#">–</a>
          <a class="input-split" href="#">◫</a>
          <a class="input-expand" href="#">☐</a>
        </span>
      </div>
      <div id="right-input" class="json-diff-input split">
        <textarea id="json-diff-right"></textarea>
        <span class="input-buttons">
          <a class="input-collapse" href="#">–</a>
          <a class="input-split" href="#">◫</a>
          <a class="input-expand" href="#">☐</a>
        </span>
      </div>
    </div>
    <script src="www/js/underscore-min.js"></script>
    <script src="www/js/jquery.min.js"></script>
    <script src="www/lib/fast-json-patch/dist/json-patch-duplex.min.js" charset="utf-8"></script>
    <script src="www/lib/backbone-events-standalone/backbone-events-standalone.min.js" charset="utf-8"></script>
    <script src="www/lib/codemirror/lib/codemirror.js" charset="utf-8"></script>
    <script src="www/lib/codemirror/lib/util/formatting.js" charset="utf-8"></script>
    <script src="www/lib/codemirror/mode/javascript/javascript.js" charset="utf-8"></script>
    <script src="www/lib/codemirror/addon/edit/matchbrackets.js" charset="utf-8"></script>
    <script src="www/lib/json-source-map.js" charset="utf-8"></script>
    <script src="www/js/main.js" charset="utf-8"></script>
    <script src="www/js/init.js" charset="utf-8"></script>
  </body>
</div>
